---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

// @import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Londrina+Outline|Waiting+for+the+Sunrise');

// @import url('/fonts/Londrina_Outline/LondrinaOutline-Regular.ttf');

@font-face {
  font-family: "Waiting for the Sunrise";
  src: url("{{ '/assets/fonts/Waiting_for_the_Sunrise/WaitingfortheSunrise.ttf' | relative_url }}") format("opentype");
}

@font-face {
  font-family: "Londrina Outline";
  src: url("{{ '/assets/fonts/Londrina_Outline/LondrinaOutline-Regular.ttf' | relative_url }}") format("opentype");
}




@font-face {
  font-family: "Clicker Script";
  src: url("{{ '/assets/fonts/Clicker_Script/ClickerScript-Regular.ttf' | relative_url }}") format("opentype");
}

.site-title {
    font-family: "Waiting for the Sunrise";
    font-size: 62px;
    margin-top: 18px;
}

.site-title:hover {
    text-decoration: none;
}

.post-list > li {
    margin-bottom: 0px;
}


.post-link-container {
    background-size: cover;
    background-position: left center;
    margin-bottom: 50px;
    overflow: hidden;
    transition: 0.3s;
    filter: contrast(100%);
}

.post-link, a.post-link:visited {
    font-family: "Waiting for the Sunrise";
    display: inline-block;
    height: 100%;
    width: 60%;
    padding: 0px;
    font-size: 32px;
    color: #3c3c3c;
}

.post-link:hover {
    text-decoration: none;
    background-blend-mode: normal;
}

.post-link-inner {
    display: block;
    padding: 13px;
    background: #fff;
    height: 25%;
    width: 75%;
    transition: 0.3s;
}


// Hover

.post-link-container:hover .post-link-inner {
    padding: 18px 18px 18px 13px;
}

.post-link-container:hover {
    filter: contrast(200%);
    margin-bottom: 40px;
}


// Leaves / snake shapes

.post-list > li:nth-child(even) > .post-link-container {
    border-radius: 200px 0px;
}

.post-list > li:nth-child(odd) > .post-link-container {
    border-radius: 0px 200px;
}


.post-list > li:nth-child(even) .post-link {
    padding-top: 200px;
    padding-bottom: 50px;
}

.post-list > li:nth-child(odd) .post-link {
    padding-top: 50px;
    padding-bottom: 200px;
}

.post-list > li:nth-child(even) .post-link-inner {
    border-radius: 0 0 50px 0;
}

.post-list > li:nth-child(odd) .post-link-inner {
    border-radius: 0 50px 0 0;
}
