---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- assign posts = site.categories.blog -%}
  {%- if posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in posts -%}
      <li>
        {%- if post.image -%}
          {%- assign image = post.image | prepend: site.baseurl -%}
          <div class="post-link-container" style="background-image: url({{image}})">
            <a class="post-link" href="{{ post.url | relative_url }}" >
              <span class="post-link-inner">{{ post.title | escape }}</span>
            </a>
          </div>
        {%- else -%}
          <div class="post-link-container" style="background: repeating-linear-gradient(-45deg,
      lightpink, lightpink 10px, white 10px, white 20px); background-size:cover;background-position:left center;">
            <a class="post-link" href="{{ post.url | relative_url }}" >
              <span class="post-link-inner">{{ post.title | escape }}</span>
            </a>
          </div>
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

  {%- assign mainjs = "/assets/main.js" | prepend: site.baseurl -%}

  <script src="{{ mainjs | relative_url }}"></script>

</div>
