---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- assign posts = site.categories.blog -%}
  {%- if posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in posts -%}
      <li>
        {%- if post.image -%}
          <div class="post-link-container" style="background-image: url({{ post.image | relative_url }})">
            <a class="post-link" href="{{ post.url | relative_url }}" >
              <span class="post-link-inner">{{ post.title | escape }}</span>
            </a>
          </div>
        {%- else -%}
          <div class="post-link-container" style="background: repeating-linear-gradient(-45deg,
      lightpink, lightpink 10px, white 10px, white 20px); background-size:cover;background-position:left center;">
            <a class="post-link" href="{{ post.url | relative_url }}" >
              <span class="post-link-inner">{{ post.title | escape }}</span>
            </a>
          </div>
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

  <script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
  <script src="{{ '/assets/main.js' | relative_url }}"></script>

</div>
